.main-body .main-body-content {
    padding: 0px 50px;
    
}

.main-content .top-search {
    padding: 3px 0px 5px;
}

.top-search .form-control {
    font-size: 0.8rem;
}

.top-search .input-daterange input {
    text-align: left;
}

.top-search .btn {
    font-size: 0.8rem;
    background: rgb(59, 59, 128);
    border-color: rgb(59, 59, 128);
}


