.page-title {
    margin-top: 0.5rem;
}

.form-group .form-control {
    font-size: 0.8rem;
}

.top-search .btn {
    font-size: 0.8rem;
}

form .button-group .btn {
    font-size: 0.8rem;
    background: rgb(59, 59, 128);
    border-color: rgb(59, 59, 128);
}

label {
    font-weight: bold;
}

.unit-row .input-daterange input {
    text-align: left;
    font-size: 0.8rem;
    border-radius: 0.25rem;
}